.header {
    width: 100%;
    height: 90px;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #3b8dbd;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
.header #logo {
 
    display: block;
    height: 50px;
    padding-top: 10px;
    /*float: left;*/
    /*margin-left:40px;*/
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.headerlogo a{
    color:white;
}
/*.headerlogo a:hover{
    color:#9fdbfc;
}*/
.headerlogo{
    float: left;
    padding: 0 30px;
}
.subtitle{
    text-align: center;
    color: white;
    font-family: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.brandname{
    color: black;
    font-size: 45px;
    line-height: 75px;
    text-align: right;
}
.ofi a{
    line-height: 75px;
    color:#696969;
}
.align{
    text-align: center;
}
.mainbody{
    margin-top: 130px;
}
.brandpagetop{
    margin-top: 130px;
}
.userprofile{
    width:95%;
}
.card-img-top{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.footer{
     height: 120px;
     background-color: #3b8dbd; 
     font-family: "Oswald", sans-serif;
     color: white;
     margin: 20px 0 0 0;
}
.icon{
    height:100px ;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 30px ;
} 
.header nav {
    display: inline=block;
    float: right;
    margin-right:50px;
}
.header nav a {
    line-height: 150px;
    margin-left: 20px;
    color:white ;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*.header nav a:hover {
    color:#9fdbfc;
}*/
.header.smaller {
    height: 75px;
}
.header.smaller h1#logo {
    width: 150px;
    height: 45px;
    font-size: 30px;
}
.header.smaller nav a {
    line-height: 75px;
}
.dropbtn{
   line-height: 120px;
    margin-left: 20px;
    color:white ;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu {
    text-align:right;
}

.dropdown-content {
    text-align: center;
        font-size: 15px;
}
.none{
    text-decoration: none;
}

/*-----------MEDIA QUERIES*/
@media all and (max-width: 660px) {
    .header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height:100px;
        text-align: center;
    }
    .header a{
        color: white;
    }
    .header nav {
        display: block;
        float: none;
        height: 50px;
        line-height:50px;
        text-align: center;
        margin: 0 auto;
    }
    .header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    .header.smaller {
        height: 75px;
    }
    .header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    .header.smaller nav {
        height: 35px;
        line-height:35px;
    }
    .header.smaller nav a {
        line-height: 35px;
    }
}


    .btn-group{
    padding-left:10px;
    padding-bottom:10px;
    }
    .btn-primary{
     background-color: #696969;
    }
    .btngroup{
     margin-top: 10px;
    }
    .menulist a {
    color: #696969; 
    }

    li {
        list-style: none;
        line-height: 40px;
    }
    ol {
      padding-left:10px;
      font-color:#696969;
     /* font-family:serif;        */
        } 
    hr {
     display: block;
      width: 100%;
      height:  1px;
      background-color: #696969;
      border: 0; 
    }
    .box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #696969;
    background: white;
    border-top: solid 5px #696969;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    .box11 p {
    margin: 0; 
    padding: 0;
    }
    .topnews{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    color: #b22222;
    font-size: 25px;

    }
    .card-margin{
    margin-top: 20px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 20px;

    }
    .topcard-margin{
    margin-top: 20px;
    margin-bottom: 20px;

    }
    .itemsyousai {
      margin-top: 20px;
    }
    .itemsyousai p{
      margin-top: 45px;
      color: #696969;
      text-align: center;
    }
    .buy{
      margin-top: 55px;
    }
    .caption{
      margin-top: 40px;
      margin-right: 20px;
      color: #696969;
    }
    .sampleotoiawase{
      margin-top: 40px;
      font-size: 25px;

    }
    .itemamount{
      font-size: 25px;

    }
    .footericon a{
        color: white;
        line-height:120px;
    }
    .footermenu a{
         color: white;
         line-height:120px;
    }
    .content{
    padding-top: 20px;
    }
/* チャットレイアウト */
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.chat-face {
    float: left;
    margin-right: -120px;
}
.chat-face img{
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 15px 20px;
    margin-left: 120px;
    margin-top: 8px;
    /* border: 1px solid gray; ←削除 */
    border-radius: 10px;
    position: relative; /*追記*/
    background-color: #D9F0FF; /*追記*/
}
/* ↓追記↓ */
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 50%; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}
.someone {
    background-color: #BCF5A9;
}
.someone:after {
    border-color: transparent #BCF5A9 transparent transparent;
}
.amount {/*親div*/
  position: relative;/*相対配置*/
  }
.amount2 {/*親div*/
  position: relative;/*相対配置*/
  }
.amount div{
  position: absolute;/*絶対配置*/
  color: black;
  bottom: 0px;
  right: 0px;
  }
  .amount2 div{
  position: absolute;/*絶対配置*/
  color: black;
  bottom: 5px;
  /*height: 60px;*/
  }
.amount>p {
  position: absolute;/*絶対配置*/
  bottom: 0px;
  left: 0px;
  margin: 0;
  }
.subpicture{
  margin-top: 10px;
}
/* 円の基本形 */
.maru {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /*flex-flow: column; */
  vertical-align: top;
}
/* 円の大きさ */
.size_normal{
  width: 38px;
  height: 38px;
}
/* 文字の大きさ */
.letter3 {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
/* 円と文字の色 */
.pink1 {
  color: pink;
  border: 4px solid pink;
  background: pink;
}
.iconincard{
  padding-left:10px;
}

.dropbtn {

    color: white !important;
/*    padding: 10px;
    font-size: 16px;*/
 /*   border: none;*/
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*height: 300px;*/
}
.dropdown-content a {
    color:#696969;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
}
/*タグ切り替え*/
/*タブ切り替え全体のスタイル*/
.tabs {
margin-top: 50px;
padding-bottom: 40px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
width: 700px;
margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
width: calc(100%/3);
height: 50px;
border-bottom: 3px solid #5ab4bd;
background-color: #d9d9d9;
line-height: 50px;
font-size: 16px;
text-align: center;
color: #565656;
display: block;
float: left;
text-align: center;
font-weight: bold;
transition: all 0.2s ease;
}
.tab_item:hover {
opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
display: none;
padding: 20px 20px 0;
clear: both;
overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
display: block;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
background-color: #5ab4bd;
color: #fff;
}
.tourokubtn{
text-align: center;
margin-top: 100px;
margin-bottom:20px;
}
.listpicture>img{
width:50px;
}
.SideBySide {
 display:inline-block;
 vertical-align:middle; /*縦方向の揃え位置を指定*/
 border-bottom: 1px solid ;
 border-bottom-color:rgba(0, 0, 0, 0.2)
}
.btnkankaku{
    margin-right:30px ;
    margin-left:30px ;
}
.seibetu{
    margin-bottom:8px;
}
.syousaiBOX{
    width: 70%;
}
.syouhinsetumei{
 margin-top: 30px;
}
.osirasenyuuryoku{
 margin-left:150px;
 margin-right:150px;
 width:60%;

}
.itemkensaku{
 width: 60%;

}
.kanrigamen{
text-align: center; 
margin-bottom: 30px;
}
/*.itemedit_left input{
    margin-left: auto;
    margin-right:auto;
}
*/
.itemtourokubtn{
text-align: center; 
    line-height: 75px;
}
@media screen { #filename { display: none; } }
.browse_btn {
background-color: #d3d3d3;
padding: 5px;
border-radius: 8px;
font-weight: bold;
}
.botanmitame{
background-color: #d3d3d3;
padding: 5px;
border-radius: 8px;
font-weight: bold;
}

.gyoukan{
    margin-bottom: 5px;
}

.centerhaiti{
    text-align: center;
}
.margin-bottom16{
    margin-bottom:16px;
}
.margin-bottom30{
    margin-bottom:30px;
}
.margin-bottom200{
    margin-bottom:200px;
}
.picturesize1{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:700px;
}.picturesize2{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:300.45px;
}

.BOXinPosition{
    position: relative;
    top: 180px;

}











