.header {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #3b8dbd;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
.header #logo {
 
    display: block;
    height: 50px;
    padding-top: 10px;
    /*float: left;*/
    /*margin-left:40px;*/
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.headerlogo a{
    color:white;
}
/*.headerlogo a:hover{
    color:#9fdbfc;
}*/
.headerlogo{
    float: left;
    padding: 0 30px;
}
.subtitle{
    text-align: center;
    color: white;
    font-family: Georgia, "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
.brandname{
    color: black;
    font-size: 45px;
    line-height: 75px;
    text-align: right;
}
.ofi a{
    line-height: 75px;
    color:#696969;
}
.align{
    text-align: center;
}
.brandpagetop{
    margin-top: 130px;
}
.userprofile{
    width:95%;
}
.card-img-top{
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.footer{
     height: 120px;
     background-color: #3b8dbd; 
     font-family: "Oswald", sans-serif;
     color: white;
     margin: 20px 0 0 0;
}
.icon{
    height:100px ;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 30px ;
} 
.header nav {
    display: inline=block;
    float: right;
    margin-right:50px;
}
.header nav a {
    line-height: 150px;
    margin-left: 20px;
    color:white ;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*.header nav a:hover {
    color:#9fdbfc;
}*/
.header.smaller {
    height: 75px;
}
.header.smaller h1#logo {
    width: 150px;
    height: 45px;
    font-size: 30px;
}
.header.smaller nav a {
    line-height: 75px;
}
.menu a{
   line-height: 120px;
    margin-left: 20px;
    color:white ;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu{
    text-align: right;

}
/*-----------MEDIA QUERIES*/
@media all and (max-width: 660px) {
    .header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height:100px;
        text-align: center;
    }
    .header a{
        color: white;
    }
    .header nav {
        display: block;
        float: none;
        height: 50px;
        line-height:50px;
        text-align: center;
        margin: 0 auto;
    }
    .header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    .header.smaller {
        height: 75px;
    }
    .header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
    .header.smaller nav {
        height: 35px;
        line-height:35px;
    }
    .header.smaller nav a {
        line-height: 35px;
    }
}
    .mainbody{
    padding-top: 120px;
    }

    .btn-group{
    padding-left:10px;
    padding-bottom:10px;
    }
    .btn-primary{
     background-color: #696969;
    }
    .btngroup{
     margin-top: 10px;
    }
    .menulist a {
    color: #696969; 
    }

    li {
        list-style: none;
        line-height: 40px;
    }
    ol {
      padding-left:10px;
      font-color:#696969;
     /* font-family:serif;        */
        } 
    hr {
     display: block;
      width: 100%;
      height:  1px;
      background-color: #696969;
      border: 0; 
    }
    .box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #696969;
    background: white;
    border-top: solid 5px #696969;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    .box11 p {
    margin: 0; 
    padding: 0;
    }

    .card-margin{
      margin-top: 20px;
    }
    .itemamount{
      font-size: 25px;
}
    .footericon a{

    /*    padding-top: 20px;*/
        color: white;
        line-height:120px;
    }
    .footermenu a{
         color: white;
         line-height:120px;
    }
/* チャットレイアウト */
/* チャットレイアウト */
.chat-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}
.chat-face {
    float: left;
    margin-right: -120px;
}
.chat-face img{
    border-radius: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}
.chat-area {
    width: 100%;
    float: right;
}
.chat-hukidashi {
    display: inline-block; /*コメントの文字数に合わせて可変*/
    padding: 15px 20px;
    margin-left: 120px;
    margin-top: 8px;
    /* border: 1px solid gray; ←削除 */
    border-radius: 10px;
    position: relative; /*追記*/
    background-color: #D9F0FF; /*追記*/
}
/* ↓追記↓ */
.chat-hukidashi:after {
    content: "";
    position: absolute;
    top: 50%; left: -10px;
    margin-top: -10px;
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D9F0FF transparent transparent;
}
.someone {
    background-color: #BCF5A9;
}
.someone:after {
    border-color: transparent #BCF5A9 transparent transparent;
}
.amount {/*親div*/
  position: relative;/*相対配置*/
  }

.amount div{
  position: absolute;/*絶対配置*/
  color: black;/*文字は白に*/
  bottom: 0px;
  right: 0px;
  }
.amount>p {
  position: absolute;/*絶対配置*/
  bottom: 0px;
  left: 0px;
  margin: 0;
  }
/* 円の基本形 */
.maru {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /*flex-flow: column; */
  vertical-align: top;
}
/* 円の大きさ */
.size_normal{
  width: 38px;
  height: 38px;
}
/* 文字の大きさ */
.letter3 {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}
/* 円と文字の色 */
.pink1 {
  color: pink;
  border: 4px solid pink;
  background: pink;
}
.iconincard{
  padding-left:10px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;
}
